name: Build & test

on:
  workflow_call:
    inputs:
      platform:
        required: true
        description: 'Platform to use for building'
        type: string
      dependencies-linux:
        description: 'List of dependencies to install on Linux'
        required: false
        type: string

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Build & test
    runs-on: ${{ inputs.platform }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies on Linux
        if: ${{ inputs.dependencies-linux }}
        run: sudo apt-get install -y ${{ inputs.dependencies-linux }}

      - name: Configure CMake
        run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: Build
        run: cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }} --parallel 4

      - name: Run tests
        working-directory: ${{ github.workspace }}/build
        run: ctest -C ${{ env.BUILD_TYPE }} -E 'Benchmark'
