name: Build & test

on:
  workflow_call:
    inputs:
      platform:
        required: true
        description: 'Platform to use for building'
        type: string

env:
  GO_VERSION: "1.22"

jobs:
  build:
    name: Build & test
    runs-on: ${{ inputs.platform }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
    
      - name: Set up Go ${{env.GO_VERSION}}
        uses: actions/setup-go@v6
        with:
          go-version: ${{env.GO_VERSION}}
          cache: false
    
      - name: Build
        run: go build -v ./...
    
      - name: Test
        run: go test -v ./...
