name: Static analysis and coverage

on:
  workflow_call:
    inputs:
      dependencies:
        description: 'List of dependencies to install'
        required: false
        type: string

env:
  BUILD_TYPE: Release
  BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory

jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcovr ${{ inputs.dependencies }}

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCODE_COVERAGE=ON

      - name: Install SonarQube Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v7

      - name: Run build-wrapper
        run: |
          build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} \
          cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel 4

      - name: Run tests
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}} -E 'Benchmark'

      - name: Generate coverage xml
        run: gcovr --filter ${{github.workspace}}/src --xml --gcov-ignore-errors=no_working_dir_found --exclude-throw-branches --exclude ${{github.workspace}}/src/main.cpp --output coverage.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ${{github.workspace}}/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          disable_search: yes

      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >-
            -Dsonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json
            -Dsonar.cfamily.cobertura.reportPaths=coverage.xml
