name: Static analysis and coverage

on:
  workflow_call:
    inputs:
      sonar_project_key:
        description: 'Sonar project key'
        required: true
        type: string
      sonar_organization:
        description: 'Sonar organization'
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true
      CODECOV_TOKEN:
        required: true

env:
  TEST_PROJECT_PATH: tests
  DOTNET_VERSION: 10.0.x

jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 

      - name: Install JunitXml package
        run: dotnet add ${{ env.TEST_PROJECT_PATH }} package JunitXml.TestLogger

      - name: Set up SonarScanner for .NET
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Begin SonarQube Scan
        run: dotnet-sonarscanner begin /k:"${{ inputs.sonar_project_key }}" /o:"${{ inputs.sonar_organization }}" /d:sonar.token="$SONAR_TOKEN" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build app for release
        run: dotnet build --configuration Release

      - name: Execute unit tests
        run: dotnet test --collect:"XPlat Code Coverage;Format=opencover" --logger:"junit;LogFilePath=junit.xml"

      - name: End SonarQube Scan
        run: dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}
