name: Static analysis and coverage

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
      CODECOV_TOKEN:
        required: true

env:
  GO_VERSION: "1.26"

jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go ${{env.GO_VERSION}}
        uses: actions/setup-go@v6
        with:
          go-version: ${{env.GO_VERSION}}
          cache: false
    
      - name: Test
        run: go test -v ./... -coverprofile=coverage.txt

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
