name: Static analysis and coverage

on: workflow_call

env:
  PYTHON_VERSION: 3.11

jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python ${{env.PYTHON_VERSION}}
        uses: actions/setup-python@v5
        with:
          python-version: ${{env.PYTHON_VERSION}}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov

      - name: Install dependencies from requirements.txt
        if: ${{ hashFiles('requirements.txt') != '' }}
        run: |
            pip install -r requirements.txt
  
      - name: Create coverage report
        run: pytest --cov --cov-report=xml
  
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
