name: Static analysis and coverage

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
      CODECOV_TOKEN:
        required: true

jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup npm and jest
        uses: przemek83/workflows/.github/actions/setup-npm-and-jest@main

      - name: Run tests
        run: npx jest --coverage

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
